@model Sipro_2017.morada

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Morada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.morada1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.morada1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMorada.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMorada.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto.codcomercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.codcomercial)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
