@model IEnumerable<Sipro_2017.Expedicao>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numeroGuia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cmr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataExpedicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.camposControlo.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.camposControlo1.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.morada1.nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numeroGuia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cmr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataExpedicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.camposControlo.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.camposControlo1.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.morada1.nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
