@model IEnumerable<Sipro_2017.naoConforRecepcao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.guia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.obs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoNaoConformidade.descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.guia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.obs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoNaoConformidade.descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
