@model IEnumerable<Sipro_2017.produtosExpedido>
@using (Html.BeginForm()){
    SiproEntities db = new SiproEntities();
}
    <input type='text' id='entrada' name='entrada' value=@ViewBag.entrada readonly="readonly" style="border:none" hidden="hidden">
<input type='text' id='guia' name='guia' value=@ViewBag.guia readonly="readonly" style="border:none" hidden="hidden">
     <div class="form-horizontal">
         <div class="center-div">
             <div>
                 <input type="button" value="Sair" onclick="terminar()" />
                 <script>
                        function terminar() {
                            var url = '@Url.Action("ExpedicaoMercadoriaEdit", "Expedicaos", new { id = -2})';
                            var opcoes = document.getElementById("guia").value;
                            var path = url.replace("-2", opcoes);
                            document.location = path;
                        } </script>
             </div>
         </div>
         <table class="table">
             <tr>
                 <th> @Html.DisplayName("SSCC") </th>
                 <th> @Html.DisplayName("Descrição") </th>
                 <th> @Html.DisplayName("Nr Unidades") </th>
                 <th> @Html.DisplayName("Lote") </th>
                 <th> @Html.DisplayName("Encomenda Externa") </th>
                 <th></th>
             </tr>

             @foreach (var item in Model)
             {
                <tr >
                    <td> @Html.DisplayFor(modelItem => item.gtinRef)</td>
                    <td> @Html.DisplayFor(modelItem => item.descricao)</td>
                    <td> @Html.DisplayFor(modelItem => item.qtd)</td>
                    <td> @Html.DisplayFor(modelItem => item.lote)</td>
                    <td> @Html.DisplayFor(modelItem => item.encomenda)</td>
                <td>
                         @Html.ActionLink("Delete", "DeleteProdutos", new { id = item.id})
                </td>
             </tr>
             }
         </table>
    </div>