@model Sipro_2017.Encomenda

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Encomenda</h4>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>Encomenda</h4>
        <div class="form-group">
            <div class="col-md-10">@Html.Label("Encomenda Cliente")</div>
            <div class="col-md-10">@Html.DisplayFor(model => model.morada.nome)</div>
            <div class="col-md-10">@Html.Label("Cliente / Fornecedor")</div>
            <div class="col-md-10">@Html.DisplayFor(model => model.tipoMorada.tipo)</div>
        </div>
            <div class="form-group">
                <div class="col-md-10">@Html.Label("Nr Encomenda Externa")</div>
                <div class="col-md-10">@Html.DisplayFor(model => model.encomendaExterna)</div>
            </div>
            <div class="form-group">
                <div class="col-md-10">@Html.Label("Orçamento encomenda")</div>
                <div class="col-md-10">@Html.DisplayFor(model => model.encomenda_orcamento)</div>
            </div>
            <div class="form-group">
                <table class="table">
                    <tr><th>Referencia</th><th>Descrição</th><th>Quantidade Unitária</th><th></th></tr>
                    <tr>
                        @for (var i = 0; i < Model.produto_new.Count(); i++)
                        {
                            var codIndex = "codigoproduto" + i;
                            var descIndex = "descProduto" + i;
                            var qtdIndex = "qtdProduto" + i;
                    <tr>
                        <td>@Html.DisplayFor(model => model.produto_new.ElementAt(i).codcomercial)</td>
                        <td>@Html.DisplayFor(model => model.produto_new.ElementAt(i).descricao)</td>
                        <td>@Html.DisplayFor(model => model.produto_new.ElementAt(i).qtd)</td>
                    </tr>
                        }
                    </table>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.Label("Descrição")
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.descricao_encomenda)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.Label("Ficheiro")
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.ficheiro_encomenda)
                    </div>
                </div>

    }
     @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
            </div>
